# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Commit and PR

on:
  push: 
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths-ignore:
      - 'README.MD'
      - '.github/**'

  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'README.MD'
      - '.github/**'


jobs:

  build:

    runs-on: ubuntu-latest
    timeout-minutes: 30
    
    strategy:
      matrix:
        node-version: [ 24.x, 25.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: test ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    #- run: npm run lint
    - run: npm run test:unit
      env:
        CI: true 


